<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name= "Test Suites">
    <test name= "API Testing">
        <packages>
            <package name="testSuites.*"/>
        </packages>
    </test>
</suite>


<!-- <suite name = "Test Suites">
<test name = "API TESTING">

    <packages>
                <package name="testSuites.*" />
            </packages>

</test>
</suite> -->


<!--        modules.api_login-->